<div class="container faq">
  <div class="title">
    <p>FAQ</p>
  </div>
  <hr>
  <div class="accordion">
    <div class="panel">
      <div class="panel-title">What does Soley offer?</div>
      <div class="panel-content">
        Soley is a renowned shoe company known for its high-quality and stylish footwear, offering a wide range of options
        suitable for every occasion. From casual sneakers to elegant dress shoes, Soley has something for everyone.
        Explore our latest collection and discover your perfect pair.
      </div>
    </div>
    <div class="panel">
      <div class="panel-title">How can I contact Soley?</div>
      <div class="panel-content">
        For inquiries, collaborations, or any other matters, you can reach out to Soley <a href="mailto:contact@soleyshoes.com?subject=Feedback&body=Message">Contact Us Via Mail</a>. We value your feedback and are eager to assist you in any way we can.
      </div>
    </div>
    <div class="panel">
      <div class="panel-title">Who is the Chief Executive Officer of Soley?</div>
      <div class="panel-content">
        The Chief Executive Officer of Soley is Boris. You can learn more about Boris and connect with him on
        <a href="https://www.linkedin.com/in/boris-lee-519a8a178/">LinkedIn</a>.
      </div>
    </div>
  </div>
</div>
